<div class="container">
	<h5>Editar</h5>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @measurement_unit, :class => "waves-effect waves-light btn category-text blue" %> 
	<%= link_to 'Regresar', measurement_units_path,:class => "waves-effect waves-light btn category-text red" %>
</div>